.selection {
  display: flex;

  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.selection button {
  display: flex;
  flex-direction: column;
  min-width: 50px;
  white-space: nowrap;
  border : none;
  cursor: pointer;
  background-color: transparent;
}

#like i {
  font-size: 3em;
  color: #ff0000;
}
/* Main content */
.content{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  font-size: var(--base-font-size);
  background-color: var(--background-color);
  max-height: 90vh;
}
.sidebar {
  flex: 1 0 10%;
  min-width: 150px;
  min-height: 10vh;
  max-height: 90vh;
  padding-top: 1%;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
}
.sidebar select {
  width: 50%;
  min-width: 125px;
  margin-bottom: 10%;
}
.separation {
  justify-self: flex-start;
  margin-top: -10%;
}

.color-section {
  justify-self: flex-end;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 30vh;
  background-color: var(--background-color);
}

.selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  margin-top: 1%;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 3 0 60%;
}

.color-wheels {
  display: flex;
  flex-wrap: wrap;
}

.wheel-container{
  flex: 1 0 50%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: var(--background-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 0.5rem;
}


.wheel-text {
  height: 5%;
  font-size: var(--base-font-size);
}
#color-wheel-1, #color-wheel-2  {
  height: 70%;
  aspect-ratio: 1;
  position: relative;
}

#palette-1, #palette-2 {
  height: 20%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 240px;
}

.color-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
}

.color-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  aspect-ratio: 2 / 1;
  font-size: var(--base-font-size);
  background-color: #b8babe;
}

.color-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  aspect-ratio: 1;
}


.color-checkbox {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 40px;
  aspect-ratio: 1;
  border: 1px solid #ddd;
  cursor: pointer;

  background-color: hsl(0, 100%, 99%);
}

.color-checkbox::before {
  content: "Añadir";
}
.color-checkbox:checked {
  appearance: checkbox;
  accent-color: green;
}
.color-checkbox:checked::before {
  content: "";
}

.text-contrast {
  display: none;
  color: red;
  font-weight: bold;
  height: 5vh;
}

.palette{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 0 0 30vh;
  align-content: flex-start;
  height: 30vh;
}
.color-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 30vh;
  background-color: var(--background-color);
}

.hidden {
  display: none;
}

.color-container.selected {
  border: 3px solid #0099ff;
}

.color {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  font-size: var(--base-font-size);
  max-height: 15vh;
  aspect-ratio: 1;
}

.button-icon {
  display: none;
  color: inherit;
  background-color: transparent;
  border: transparent;
}

.tooltip {
  visibility: hidden;
  width: 80px;
  background-color: #444;
  color: #ddd;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  font-size: var(--base-font-size);
  position: absolute;
  z-index: 1;
  bottom: 65%;
  /* left: 50%; */
  margin-left: -45px;
}

.button-icon:hover .tooltip {
  visibility: visible;
}

/* Editor de colores */
.editor-panel {
  display: none;
  height: 100%;

  grid-template-rows: auto auto auto;
  padding-top: 15%;
  padding-bottom: 15%;
  gap: 10%;
  font-size: var(--base-font-size);
  background-color: #ddd;
}

/* Conversor de colores */
.export-container {
  display: none;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  background-color: #ddd;
}

.export-row {
  display: grid;
  grid-template-columns: minmax(50px, auto) repeat(3, 1fr);
  gap: 5%;
  margin-left: 3%;
  margin-right: 3%;
}

.export-label {
  font-weight: bold;
}

.export-value {
  text-align: left;
}

.editor-panel.show {
  display: grid;
}
.slider-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
}

/* Que los sliders ocupen el 40% */
input[type="range"] {
  width: 40%; 
}

@media (min-width: 678px) {
  /* La función de editar colores solo está disponible para dispositivos grandes */
  .edit-icon.show {
    font-size: x-large;
    display: inline-block;
  }
  .export-container.show {
    display: flex;
  }
}

@media (max-width: 330px) {
  .header {
    justify-content: center;
  }
}