.selection {
  display: flex;

  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.selection button {
  display: flex;
  flex-direction: column;
  min-width: 50px;
  white-space: nowrap;
  border : none;
  cursor: pointer;
  background-color: transparent;
}

#like i {
  font-size: 3em;
  color: #ff0000;
}
/* Main content */
.content{
  flex: 1;

  display: flex;
  flex-wrap: wrap;
  font-size: var(--base-font-size);
  background-color: lightcyan;
}
.sidebar {
  flex: 1 0 10%;
  min-width: 150px;
  min-height: 10vh;
  padding-top: 1%;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightcoral;
}
.sidebar select {
  width: 50%;
  min-width: 125px;
  margin-bottom: 10%;
}
.separation {
  justify-self: flex-start;
  margin-top: -10%;
}

.color-section {
  justify-self: flex-end;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 30vh;
  background-color: blanchedalmond;
}

.selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 3 0 60%;
}

.color-wheels {
  display: flex;
  flex-wrap: wrap;
}

.wheel-container{
  flex: 1 0 50%;
  min-width: 400px;
  height: 60vh;
  padding-top: 1%;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: lightpink;
}

#color-wheel-1, #color-wheel-2  {
  height: 75%;
  max-width: 350px;
  max-height: 350px;
  aspect-ratio: 1;
  position: relative;
}

#palette-1, #palette-2 {
  margin-top: 5%;
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.color-checkbox {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  accent-color: green;
  background-color: transparent;
}
.color-box:hover .color-checkbox{
  display: flex;
}

.color-test{
  flex: 1 0 30%;
  min-width: 400px;
  height: 90vh;
  background-color: lightgreen;
}

.palette{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 0 0 30vh;
  height: 30vh;
}
.color-container {
  display: flex;
  flex-direction: column;
  width: auto;
  width: 20%;
  height: 30vh;
  background-color: lightblue;
}

.hidden {
  display: none;
}

.color-container.selected {
  border: 3px solid #0099ff;
}

.color {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  font-size: var(--base-font-size);
  height: 15vh;
  aspect-ratio: 1;
}

.button-icon {
  display: none;
  color: inherit;
  background-color: transparent;
  border: transparent;
}

.tooltip {
  visibility: hidden;
  width: 80px;
  background-color: #444;
  color: #ddd;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  font-size: var(--base-font-size);
  position: absolute;
  z-index: 1;
  bottom: 65%;
  /* left: 50%; */
  margin-left: -45px;
}

.button-icon:hover .tooltip {
  visibility: visible;
}
#like:hover .tooltip {
  margin: 0;
  position: relative;
  visibility: visible;
}

/* Editor de colores */
.editor-panel {
  display: none;
  height: 100%;

  grid-template-rows: auto auto auto;
  padding: 15% 0;
  gap: 10%;
  font-size: var(--base-font-size);
  background-color: #ddd;
}

/* Conversor de colores */
.export-container {
  display: none;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  background-color: #ddd;
}

.editor-panel.show {
  display: grid;
}
.slider-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
}

/* Que los sliders ocupen el 40% */
input[type="range"] {
  width: 40%; 
}

/* Footer */
footer{
  background-color: lightslategrey;
  height: 10vh;
  min-height: 50px;
}

@media (min-width: 678px) {
  /* La función de editar colores solo está disponible para dispositivos grandes */
  .color:hover .edit-icon.show {
    display: inline-block;
  }
  .color:hover .export-icon {
    display: inline-block;
  }
  .export-container.show {
    display: flex;
  }
}

@media (max-width: 330px) {
  .header {
    justify-content: center;
  }
}