:root {
  --background-color: #444;
  --base-font-size: 16px; /* Tamaño de fuente por defecto */
  --responsive-font-size: calc(1rem + 2vw); /* Fórmula para calcular tamaño de fuente responsivo */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main */
.container {
  width: calc(100vw - var(--scrollbar-width));
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  height: 10vh;

  display: flex;
  justify-content: space-between;
  font-size: var(--responsive-font-size);
  color:white;
  background-color: blueviolet;
}

.header .left, .header .right {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  width: 10vh;
  min-width: 50px;
}

.left img, .right img {
  aspect-ratio: 1 / 1;
  height: 80%;
  border-radius: 8%;
}

.header .center{
  display: flex;
  flex: 1 1 clamp(400px, 80vw,100%);
  justify-content: flex-start;
  align-items: center;
  gap: 1%;
  padding-left: 2%;
  flex-wrap: wrap;
} 

.center * {
  max-width: 80%;
  max-height: 80%;
}

.center input {
  min-width: 20%;
}

/* Main content */
.content{
  flex: 1;

  display: flex;
  flex-wrap: wrap;
  font-size: var(--base-font-size);
  background-color: lightcyan;
}
.sidebar {
  flex: 1 0 10%;
  min-width: 150px;
  min-height: 10vh;
  padding-top: 1%;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightcoral;
}
.sidebar select {
  width: 50%;
  min-width: 125px;
}
.separation {
  justify-self: flex-start;
  background-color: aqua;
}

.color-section {
  justify-self: flex-end;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 30vh;
  background-color: blanchedalmond;
}

.selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 3 0 60%;
}

.color-wheels {
  display: flex;
  flex-wrap: wrap;
}

.wheel-container{
  flex: 1 0 50%;
  min-width: 400px;
  height: 60vh;
  padding-top: 1%;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: lightpink;
}

#color-wheel-1, #color-wheel-2  {
  height: 75%;
  max-width: 350px;
  max-height: 350px;
  aspect-ratio: 1;
  position: relative;
}

#palette-1, #palette-2 {
  margin-top: 5%;
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.color-checkbox {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  accent-color: green;
  background-color: transparent;
}
.color-box:hover .color-checkbox{
  display: flex;
}

.color-test{
  flex: 1 0 30%;
  min-width: 400px;
  height: 90vh;
  background-color: lightgreen;
}

.palette{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 0 0 30vh;
  height: 30vh;
}
.color-container {
  display: flex;
  flex-direction: column;
  width: auto;
  width: 20%;
  height: 30vh;
  background-color: lightblue;
}

.hidden {
  display: none;
}

.color-container.selected {
  border: 3px solid #0099ff;
}

.color {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: var(--base-font-size);
  height: 15vh;
  aspect-ratio: 1;
}

.edit-icon {
  display: none;
  color: inherit;
  background-color: transparent;
  border: transparent;
}

.tooltip {
  visibility: hidden;
  width: 80px;
  background-color: #444;
  color: #ddd;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  font-size: var(--base-font-size);
  position: absolute;
  z-index: 1;
  bottom: 65%;
  left: 50%;
  margin-left: -40px;
}

.edit-icon:hover .tooltip {
  visibility: visible;
}

/* Editor de colores */
.editor-panel {
  display: none;
  height: 100%;

  grid-template-rows: auto auto auto;
  padding: 15% 0;
  font-size: var(--base-font-size);
  background-color: #ddd;
}
.editor-panel.show {
  display: grid;
  gap: 10%;
}
.slider-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
}

/* Que los sliders ocupen el 40% */
input[type="range"] {
  width: 40%; 
}

/* Footer */
footer{
  background-color: lightslategrey;
  height: 10vh;
  min-height: 50px;
}

@media (min-width: 678px) {
  /* La función de editar colores solo está disponible para dispositivos grandes */
  .color:hover .edit-icon {
    display: inline-block;
  }
}